name: black

on:
  push:
      branches:
        - develop
        - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        with:
          options: "--check --verbose --line-length=79"
          src: "./wnnet"
          version: "~= 25.0"
